@using VeterinaryClinic.Data.Entities
@model Service
@{
    ViewData["Title"] = "Services";
}

<div class="text-center">
    <h1>Добавление услуг</h1>
</div>
<div class="container">
    <form asp-action="AddService" asp-controller="Modification" method="post">
        <h1>Название услуги</h1>
        <input type="name" asp-for="Name" class="form-control" id="UslugaName">
        <h1>Краткое описание</h1>
        <input type="name" asp-for="ShortDescription" class="form-control" id="ShortDesc">
        <h1>Длинное описание</h1>
        <input type="name" asp-for="LongDescription" class="form-control" id="LongDesc">
        <h1>Цена</h1>
        <input type="name" asp-for="Price" class="form-control" id="Price">
        <br />
        <button type="submit" class="btn btn-primary">Добавить услугу</button>
    </form>
</div>

<div class="text-center">
    <h1>Удаление услуг</h1>
</div>
<div class="container">
    <form asp-action="RemoveService" asp-controller="Modification" method="post">
        <h1>Название услуги</h1>
        <input type="name" asp-for="Name" class="form-control" id="UslugaName">
        <br />
        <button type="submit" class="btn btn-primary">Удалить услугу</button>
    </form>
</div>

