@using System.Security.Claims
@using VeterinaryClinic.ViewModels
@model AppointmentFormModel
@{
    ViewData["Title"] = "SetDoctorAndDate";
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Checkout example · Bootstrap v5.2</title>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

    
    <!-- Custom styles for this template -->
    <link href="~/css/form-validation.css" rel="stylesheet">
  </head>
  <form class="needs-validation" asp-action="MakeAnAppointment" asp-controller="Service">
  <body class="bg-light">
    
     <div class="container">
      @*<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img class ="logo" src="~/img/cat.svg">
      </a>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><select class="form-select" id="pets" asp-for="TypeOfAnimal" required>
                    <option value="">Выберите услугу</option>
                    <option>Услуга косметология аыаыв</option>
                    <option>Собака</option>
                    <option>Птица</option>
                    <option>Примат</option>
                    <option>Ящер</option>
                </select>
        </li>
        <li><select class="form-select" id="pets" asp-for="TypeOfAnimal" required>
                    <option value="">Выберите врача</option>
                    <option>Горст Валентина Павловна</option>
                    <option>Горст Валентина Павловна</option>
                    <option>Горст Валентина Павловна</option>
                    <option>Горст Валентина Павловна</option>
                    <option>Горст Валентина Павловна</option>
                </select>
        </li>
        <li><input type="datetime-local" asp-for="DateTime" input type="date" class="form-control" id="data" placeholder="Имя" required></li>
      </ul>
        <div class="col-md-3 text-end">
            <button class="btn btn-outline-primary me-2" type="submit">Поиск</button>
        </div>
      
    </header>*@

    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li><select class="form-select" id="pets" asp-for="AppointmentModel.TypeOfService" required>
                    <option value="">Выберите услугу</option>
                    @foreach(var item in Model.Services)
                    {
                        <option>@item.Name</option>
                    }
                </select>
        </li>
        <li><select class="form-select" id="pets" asp-for="AppointmentModel.Doctor.FullName" required>
                    <option value="">Выберите врача</option>
                    @foreach(var item in Model.Doctors)
                    {
                        <option>@item.FullName</option>
                    }
                </select>
        </li>
        <li><input type="datetime-local" asp-for="AppointmentModel.DateTime" input type="date" class="form-control" id="data" placeholder="Имя" required></li>
      </ul>
      <div class="col-md-3 text-end">
            <button class="btn btn-outline-primary me-2" type="submit">Поиск</button>
        </div>
    </header>
	</div>


<div class="container">
    @if (Model.AppointmentModel.Doctor != null && Model.AppointmentModel.TypeOfService != null && Model.AppointmentModel.DateTime >= DateTime.Now) {
        @if (!Model.Times.Any())
        {
                <div class="page-header">
                    <h1>К сожалению, врач @Model.AppointmentModel.Doctor.FullName занят в выбранную вами дату</h1>
                </div>
        }
        else
        {
            <div class="page-header">
                    <h1>Заполните форму</h1>
                </div>
                 <div class="row g-5">
      <div class="col-md-7 col-lg-8">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Фамилия</label>
              <input type="text" asp-for="AppointmentModel.Surname" class="form-control" id="firstName" placeholder="Фамилия">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Имя</label>
              <input type="text" asp-for="AppointmentModel.Name" class="form-control" id="lastName" placeholder="Имя">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">Вид питомца</label>
               <select class="form-select" id="pets" asp-for="AppointmentModel.TypeOfAnimal">
                <option value="">Выберите</option>
                <option>Кот</option>
                <option>Собака</option>
                <option>Птица</option>
                <option>Примат</option>
                <option>Ящер</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" asp-for="AppointmentModel.Email" class="form-control" id="email" placeholder="you@mail.ru">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Время</label>
              <select class="form-select" id="ysluga" asp-for="AppointmentModel.TimeInString">
                <option value="">Выберите время:</option>
                @foreach(DateTime datetime in Model.Times)
                {
                     <option>@datetime.TimeOfDay</option>                   
                }
            </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-12">
             <label for="about" class="form-label">Примечание</label>
             <input type="text" asp-for="AppointmentModel.Note" class="form-control">
             <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>


          <button class="w-100 btn btn-primary btn-lg" type="submit">Записаться</button>
          </div>
      </div>
                </div>       
        }
    }
    else
    {
        <div class="page-header">
                <h1>Пожалуйста, выберите услугу, врача и дату, чтобы мы могли выбрать время для вас</h1>
        </div>
    }

    </div>



    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="form-validation.js"></script>
  </body>
  </form>
</html>

